<h1><%= @officer.name %></h1>
<h2>Race: <%= @officer.race %></h2>
<h2>Gender: <%= @officer.gender %></h2>
<h2>Badge Number: <%= @officer.badge_number %></h2>

<% if !@officer.reviews.empty? %>
  <h4>Recent Reviews:</h4>
  <% @officer.reviews.order(updated_at: :desc).limit(3).each do |r|%>
    <li>
      <strong><%= r.user.username%></strong> said "<%= link_to r.content, officer_review_path(@officer,r)%>" at <%= r.updated_at.strftime("%I:%M %p on %m/%d/%Y") %>
    </li>
  <% end %>
<% end %>


<p><%= link_to "Leave a Review", new_officer_review_path(@officer)  %></p>