<h2><%= @review.title %></h2>
<strong>Posted: <%= @review.created_at %></strong>
<p><small><%= @review.content %></small></p>

<br>

<% if @review.user == current_user %>

<h4><%= link_to "Edit", edit_review_path(@review) %></h4>
<h4><%= link_to "Delete", destroy_review_path(@review) %></h4>

<% end %>